body {
    background-color: #FFFFF0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    color: #00008B;
}

h1 {
    text-shadow: 2px 2px 5px;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 2px grey, 0 0 25px blue, 0 0 5px darkblue;
    font-family: Arial, Verdana, sans-serif; font-size: 32px; color: #A52A2A 
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-family: Arial, Verdana, sans-serif; font-size: 24px; color: #A52A2A
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-family: Arial, Verdana, sans-serif; font-size: 24px; color: #A52A2A
}

h4 {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-family: Arial, Verdana, sans-serif; font-size: 24px; color: #A52A2A
}

table {
    margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

form {
    text-align: center;
    margin: 0 auto;
}

div {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}


.div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;

}
.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}

hr { color:brown; background-color:tan; width:90%; height:2px; }

table {
    font-family: Arial, Verdana, sans-serif;
    font-size: 18px;
    color: #00008B;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.note {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    color: purple;
    font-weight: bold;
} 
